
nz-content {
  margin: 16px 0;
  padding: 0 50px;
  text-align: center;
}

[nz-button] {
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
