<script src="../editor/editor.component.spec.ts"></script>
<nz-layout>
  <nz-content>
    <div class="inner-content">
      <h1>Welcome to the OnlineIDE</h1>
      <h2>A project for Advanced Topics of Software Engineering (TUM)</h2>
      <!--TODO: Beide Requests nacheinander mit einem Button schicken-->
      <button *ngIf="!(authService.authenticated | async)" (click)="authService.login()"
              nz-button nzType="primary" nzShape="round">Login with GitLab LRZ</button>
      <button *ngIf="authService.authenticated | async" [routerLink]="['/project-list']"
              nz-button nzType="primary" nzShape="round">Enter</button>
    </div>
  </nz-content>
  <nz-footer>TUM-ASE ©2021 Implemented By Group 1-7</nz-footer>
</nz-layout>
