.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

[nz-button] {
  margin-right: 8px;
}

nz-content {
  margin: 0 16px;
}

nz-sider {
  color: #fff;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  background: #fff;
  min-height: 540px;
}

.monaco {
  height: 430px;
}

.compiler {
  height: 210px;
}

nz-footer {
  text-align: center;
}
