<nz-layout>
  <nz-sider>
    <button [routerLink]="['/project-list']" nz-button nzType="primary" nzShape="round">Back</button>
    <button style="margin-left: 5px" [routerLink]="['/start']" nz-button nzType="primary" nzShape="circle">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
    </button>
    <ul nz-menu nzTheme="dark" nzMode="inline" style="list-style: none;" >
      <li nz-submenu nzTitle="{{projectName}}" nzIcon="project" nzOpen="true">
        <ul *ngFor="let file of files" style="list-style: none;">
          <li nz-menu-item (click)="loadFile(file.id)">
            <i nz-icon nzType="file"></i>
            <span>{{file.name}}</span>
          </li>
        </ul>
      </li>
    </ul>
    <input type="text" nz-input placeholder="input file name" [(ngModel)]="new_filename" />
    <br>
    <button style="margin-top: 0px" (click)="newFile()" nz-button nzType="primary" nzShape="round">New File</button>
    <br>
    <button style="margin-top: 16px" nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="user" nzTheme="outline">m</i>
    </button>
    <button style="margin-left: 5px; margin-top: 16px" nz-button nzType="default" nzShape="circle">
      <i nz-icon nzType="user" nzTheme="outline">o</i>
    </button>
    <br>
    <button style="margin-top: 0px" (click)="shareProject()" nz-button nzType="primary" nzShape="round">Share Project</button>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <button (click)="deleteFile()" nz-button nzType="default" nzShape="round" [disabled]="!fileSelected">
            <i nz-icon nzType="delete" nzTheme="fill"></i>
            Delete File
          </button>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <button style="margin-left: 8px" (click)="saveFile()" nz-button nzType="default" nzShape="round" [disabled]="!fileSelected">
            <i nz-icon nzType="save" nzTheme="fill"></i>
            Save File
          </button>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <button style="margin-left: 8px" (click)="darkMode()" nz-button nzType="default" nzShape="round" [disabled]="!fileSelected">
            <i nz-icon nzType="bulb" nzTheme="fill"></i>
            Dark Mode
          </button>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <button style="margin-left: 8px" (click)="compile()" nz-button nzType="primary" nzShape="round" [disabled]="!fileSelected">
            <i nz-icon nzType="play-circle" nzTheme="fill"></i>
            Compile
          </button>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <input style="margin: 0px 12px 8px 0px; width: 100%" [(ngModel)]="selected_file.name" type="text" nz-input [disabled]="!fileSelected"/>
      <div class="inner-content" >
        <div class="monaco">
          <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="selected_file.sourceCode"></ngx-monaco-editor>
        </div>
        <div class="compiler" >
          <ul nz-menu nzMode="horizontal">
            <li nz-menu-item nzSelected >
              Output
            </li>
          </ul>
          {{compiler_out}}
        </div>
      </div>
    </nz-content>
    <nz-footer>TUM-ASE ©2021 Implemented By Group 1-7</nz-footer>
  </nz-layout>
</nz-layout>
